/*Общие стили для отбражения страницы*/
html,
body {
	height:100%;
}

body {
	background:#404040 url(../images/outlets.png);
}

#wrapper {
	position:relative;
	margin:0 5%;
	height:100%;
}

#header, #footer, #game-field, #info-box {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

#game-field, #info-box {
	min-width:800px;	
	min-height:400px;
}

#header, #footer, #game-field {
	border:3px double #fff;
	background-color:#303030;
}


#header div.logo {
	margin:10px auto;
	width: 300px;
	color:#D6D8FF;
	
	text-align:center;
	font: bold 28px Helvetica,monospace;
}

#footer div.footer-info {
	margin:10px auto;
	width: 300px;
	color:#D6D8FF;
	
	text-align:center;
	font: bold 20px monospace;
}

/*Стили игрового поля и игровых сообщений*/

#game-field {
	position:relative;
	height:70%;
}

#info-box {
	position:relative;
	display:none;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /*Трюк с прозрачностью в IE6*/
}

#info-box  .messege {
	position: absolute;
    top: 50%;
    left: 50%;
}
/*Трюк с вертикальным выраниванием текста сообщений */
#info-box  .messege > span{
	position: relative;
    top: -50%;
    left: -50%;
    color: #fff;
	font: bold 28px monospace;
}

/*Стили игровых контролеров и элементов*/

#first-reflector, #second-reflector {
	position: absolute;
	top:10px;
	width: 20px;
	height: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#first-reflector {
	left:20px;
	background:#66FF4F;
}

#second-reflector {
	right:20px;
	background:#FF2819;
}

#ball {
	position: absolute;
	top:200px;
	left:200px;
	width:30px;
	height:30px; 
}


/*Стили меню*/

#menu {
	margin:5px 0;
	height:30px;
}

#menu a {
	display:block;
	color:#000;
	text-decoration:none;
	
	
}

#menu li.button:first-child {
	-webkit-border-radius:15px 0 0 15px;
	-moz-border-radius:15px 0 0 15px;
	-o-border-radius:15px 0 0 15px;
	border-radius:15px 0 0 15px;
}

#menu li.button:last-child {
	-webkit-border-radius:0 15px 15px 0;
	-moz-border-radius:0 15px 15px 0;
	-o-border-radius:0 15px 15px 0;
	border-radius:0 15px 15px 0;
}

#menu li.button {
	display:block;
	float:left;
	width:70px;
	height:30px;
	background:#D6D8FF;
	text-align:center;
	font: bold 20px monospace;
	cursor:pointer;
}

#menu li.button:hover {
	background-color:#FF9E01;
}

#menu li.button a:hover {
	text-decoration:underline;
}

/*Стили вывода счёта*/

#score {
	margin:10px 0;
	color:#D6D8FF;
	text-align:center;
	font: bold 22px monospace;
}

#first-player-score {
	color:#66FF4F;
}

#second-player-score {
	color:#FF2819;
}